@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

input[type="range"] {
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #ffd369;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #ffd369;
  border-radius: 50%;
  cursor: pointer;
}


@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
}
